<% layout('layout/boilerplate.ejs') %>

<div class="row">
	<h1 class="text-center">Edit Campground</h1>
	<div class="col-6 offset-3">
		<form
			action="/campgrounds/<%= campground._id %>?_method=PUT"
			method="POST"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					name="campground[title]"
					id="title"
					value="<%= campground.title %>"
				/>
			</div>

			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					name="campground[location]"
					id="location"
					value="<%= campground.location %>"
				/>
			</div>

			<div class="mb-3">
				<label class="form-label" for="image">Image</label>
				<input
					class="form-control"
					type="text"
					name="campground[image]"
					id="image"
					value="<%= campground.image %>"
				/>
			</div>

			<div class="mb-3">
				<label class="form-label" for="price">Campground Price</label>
				<div class="input-group">
					<span class="input-group-text">$</span>
					<input
						type="text"
						name="campground[price]"
						class="form-control"
						aria-label="Amount (to the nearest dollar)"
						id="price"
						value="<%= campground.price %>"
					/>
					<span class="input-group-text">.00</span>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					name="campground[description]"
					id="description"
					cols="30"
					rows="10"
				>
<%= campground.description %></textarea
				>
			</div>

			<div class="mb-3">
				<button class="btn btn-info">Update Campground</button>
			</div>
			<a href="/campgrounds/<%= campground._id %> ">Back To Campground</a>
		</form>
	</div>
</div>
